<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}!</h2>
        <p>Logged in as {{ user.username }}</p>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'changepassword' %}">Change</a>
    {% else %}
        <h2>Welcome, Guest!</h2>
        <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a></p>
    {% endif %}
</body>
</html>
